{% extends 'base.html' %}
{% load static %}
{% block title %}Home | HotelEase{% endblock %}
  
{% block content %}
  <div class="auth-wrapper">
    <div class="auth-card">
        <h2>Create Account</h2>
        <form>
            <input type="text" placeholder="Full Name" required>
            <input type="email" placeholder="Email Address" required>
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>
            <button type="submit" class="btn-gold" style="width: 100%;">Sign Up</button>
        </form>
    </div>
</div>
{% endblock content %}